:root {
    --nav-width: 5rem;
    --bg-color-primary: #999999;
    --bg-color-secondary: #413f3f;
}

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


main {
    margin-left: var(--nav-width);
    padding-left: 1rem;
    line-height: 1.5;

}

p {
    margin-bottom: 1rem;
}

nav {
    position: fixed;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--bg-color-primary);
}

.nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--bg-color-secondary);
    height: 5rem;
}

.nav-link svg {
    height: 3rem;
}

.nav-link span {
    display: none;
    margin-left: 1rem;

}

.navbar-nav li:last-child {
    margin-top: auto;
    margin-bottom: 1rem;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    list-style-type: none;
}

.navbar:hover .nav-link span {
    display: inline;
}

.navbar:hover {
    width: 16rem;
}

.navbar-nav li:hover {
    background-color: rgb(218, 184, 184);
}

.navbar-title {
    background-color: rgb(218, 184, 184);
}

.navbar-title span {
    display: none;
    padding: 0;
}